<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Têmis 1.0</title>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<link type="text/css" rel="stylesheet" href="/meu_css/sidenav.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

	<!--SIDEBAR-->
	<div id="wrapper">
		<div id="sidebar-wrapper" class="blue-grey darken-4">
			<ul class="sidebar-nav">
				<li>
					<div id="info-user-menu">
						<img alt="" src="img/user222.png" class="circle center"
							id="perfil-sidebar">
						<h6 class="white-text center" id="user-name-sidebar">Usuário</h6>
					</div>
				</li>

				<li class="collection-item search-component">
					<form action="">
						<div class="input-field row search-field">
							<input type="text" name="search" class="white-text"> <label
								for="search">Buscar</label>
							<button type="submit" class="btn blue" style="width: 100%">
								<i class="material-icons">search</i>
							</button>
						</div>
					</form>
				</li>
				<li class="ident"><a href="javascript:void(0)"
					class="master-menu"> Usuário <i class="material-icons right">add</i>
				</a>
					<ul class="child-menu blue-grey darken-3">
						<li><a href="#"> <span> Mensagens </span> <i
								class="material-icons right">person</i>
						</a></li>
						<li><a href="#"> <span> Configurações </span> <i
								class="material-icons right">settings</i>
						</a></li>
						<li><a href="#"> <span> Logout </span> <i
								class="material-icons right">keyboard_tab</i>
						</a></li>
					</ul></li>
				<li class="indent"><a href="javascript:void(0)"
					class="master-menu"> Matérias <i class="material-icons right">add</i>
				</a>
					<ul class="child-menu blue-grey darken-3">
						<li><a href="#"> <span> Mais lidas </span> <i
								class="material-icons right">trending_up</i></a></li>
						<li><a href="#"> <span> Mais recentes </span> <i
								class="material-icons right">watch_later</i>
						</a></li>
					</ul></li>
				<li class="ident"><a href="#"> Vídeos <i
						class="material-icons right"> movie </i></a></li>
			</ul>
		</div>
	</div>

	<!--HEADER-->
	<header class="navbar-fixed">
		<nav class="blue darken-1">
			<div class="nav-wrapper">
				<ul class="left">
					<li><a href="javascript:void(0)" id="btn-sidebar"><i
							class="material-icons tiny">dehaze</i></a></li>
					<li><a href="#" id="logo-header">Têmis 1.0 - Sistema de
							Gerenciamento de Escritórios de Advocacia</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<br />
	<br />
	<br />
	<br />
	<br />
	<a href="/cadastropessoa" class="waves-effect waves-light btn">Cadastro
		Pessoa</a>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<script type="text/javascript" src="/meu_js/sidenav.js"></script>

</body>

</html>